<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>work List</title>
</head>
<body>
    <div class="container">
  <h1 >work List</h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li><%= task %></li>
    <% }); %>
  </ul>

  <form action="/submit" method="POST">
    <input type="text" name="task" placeholder="Add a new task" required>
    <button type="submit">+</button>
  </form>
</div>
</body>
</html>
